:root {
  font-size: 100%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/* ========================= PETS CONTAINER */

.pets {
  margin: 0 auto;
  max-width: 800px;
  background-color: lightsteelblue;
}

.pets header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: baseline;
  padding: 2rem;
  color: white;
}

@media(max-width:550px) {
  .pets header {
    flex-direction: column;
  }
}

.pets a {
  font-size: 2rem;
  color: inherit;
  opacity: 0.7;
}

.pets h1, .pets h3 {
  font-weight: bold;
}

.pets h1 {
  font-size: 4rem;
}

.pets h3 {
  font-size: 3rem;
}

.pets section {
  color: darkslategrey;
}

.pets section p {
  font-size: 2rem;
  margin-top: 2rem;
}

.pets section p:nth-of-type(1) {
  color: darkslategrey;
}

.pets section p:nth-of-type(2) {
  color: blue;
  line-height: 1.5;
  font-size: 1.5rem;
}

.pets img {
  width: 100%;
  height: auto;
  display: block;
}

.pets-sections {
  display: flex;
}

@media(max-width: 600px) {
  .pets-sections {
    flex-direction: column;
  }
}

.pets section {
  padding: 2rem 1.5rem;
}

section.dogs {
  background-color: lightcoral;
}

section.cats {
  background-color: lightgray;
  border: .7rem dashed black;
}

section.hamsters {
  background-color: lightgoldenrodyellow;
}

/* ========================= BUTTONS */

.buttons {
  display: flex;
  padding: 2rem;
}

.buttons button.bad {
  font-size: 10px;
  padding: 6px 16px;
  border: 1px solid #446d88;
  background: #58a linear-gradient(#77a0bb, #58a);
  border-radius: 4px;
  box-shadow: 0 1px 5px gray;
  color: white;
  text-shadow: 0 -1px 1px #335166;
}

/* ========================= THINGS PERCENTAGES */

.things {
  display: flex;
  border: 2rem dashed black;
}

.things .thing {
  height: 200px;
  width: 100px;
}

.thing.thing-1 {
  background-color: red;
}

.thing.thing-2 {
  background-color: grey;
}

.thing.thing-3 {
  background-color: orange;
}

/* ========================= FONTS */

.fonts {
  font-size: 100%; /* this is set by the reset */
}

/* ========================= HIDDEN */

.hidden {
  display: none;
}